#text {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-size: 15px;
	float: left;
	padding-left: 20px;
}